/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFF;
  outline: none;
}

a,button {
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 浮动 */
.f-r {
  float: right;
}

.f-l {
  float: left;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "\0020";
  visibility: hidden;
  height: 0;
}

/*单行文本超出显示省略号*/
.text-omit { 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
}
