/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FFF;
  outline: none;
}

a,button {
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 浮动 */
.float_r {
  float: right;
}

.float_l {
  float: left;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "\0020";
  visibility: hidden;
  height: 0;
}

/* 滚动条样式 */
.self_scroll::-webkit-scrollbar {
    width: 6px;
    height:6px;
  }
  
/* 修改 滚动条的 下面 的 样式 */
.self_scroll::-webkit-scrollbar-track {
	background-color: transparent;
}
  
/* 修改 滑块 */
.self_scroll::-webkit-scrollbar-thumb {
  border-radius: 4em;
  background-color: rgba(144,146,152,.8);
}

/*单行文本超出显示省略号*/
.text_omit { 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
}
